@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  color: #BBBBBB;
  background: #000000;
}

.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  padding: 2rem;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  padding: 2rem;
  grid-column: 1 / 2;
}

main {
  padding: 2rem;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side {
  padding: 2rem;
  grid-column: 3 / 4;
}

footer {
  padding: 2rem;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
