@import url('https://fonts.googleapis.com/css2?family=Courier+New&display=swap');

body {
  margin: 0;
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon{
  width: calc(12px + 2vmin);
  height: calc(12px + 2vmin);
  padding-right: 12px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.white{
  color: #FFFFFF;
}

.light{
  color: #BBBBBB;
}

.mid{
  color: #888888;
}

.dark{
  color: #444444;
}

.black{
  color: #000000;
}

.big{
  font-size: calc(30px + 2vmin);
}

.medium{
  font-size: calc(19px + 2vmin);
}

.small{
  font-size: calc(12px + 2vmin);
}