body {
  margin: 0;
  font-family: 'Courier New',
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon{
  width: 20px;
  height: 20px;
  padding-right: 10px;
}